<html>
<head>
    <title>Powersim Analyser - Simulation: $simulation.getName() [$simulation.getId()]</title>
    <script>
        simulation_id = $simulation.getId();
    </script>

    #parse("includes.html")

    <script type="text/javascript" language="JavaScript1.5">
        function deleteSimulation(simulation_id)
        {
            if (confirm('Are you sure you want to delete simulation ' + simulation_id + '?'))
            {
                $.ajax(
                {
                    url: './data/'+simulation_id,
                    type: 'delete',
                    dataType: 'text',
                    success: function(message)
                    {
                        $('#messagearea').html('<div id="message">' + message + '</div>');
                        window.location.replace('./?message='+message);
                    },
                    error: function (xhr, ajaxOptions, thrownError)
                    {
                        $('#messagearea').html('<div id="error_message">' + thrownError + '</div>');
                    }
                });
            }
        };

        function updateGraphData(url)
        {
            $.getJSON(url, function(simdata)
            {
                var i;
                for (i = 0; i < simdata.length; i++)
                {
                  simdata[i][0] = new Date(simdata[i][0]);
                }

                graph.updateOptions({file : simdata});
            });
        }

        function renderApplianceData(householdId, applianceId)
        {
            updateGraphData('./data/'+simulation_id+'/appliances/'+applianceId);
        }

        function onApplianceChange(householdId, applianceId)
        {
            if (applianceId == 0)
            {
                updateGraphData('./data/'+simulation_id+'/households/'+householdId);
            }
            else
            {
                renderApplianceData(householdId, applianceId);
            }
        }

        function renderHouseholdData(householdId)
        {
            updateGraphData('./data/'+simulation_id+'/households/'+householdId);

            $.getJSON('./data/'+simulation_id+'/households/'+householdId+'/details', function(household)
            {
                $('#data').html('<table id="householddetail" cellpadding="2" cellspacing="1">'+
                    '<tr>' +
                        '<th>Household</th><td>' + household.id + '</td>' +
                        '<th>Reference</th><td>' + household.referenceId + '</td>' +
                        '<th>Policy</th><td>' + household.policyDescriptor + '</td>' +
                        '<th>Category</th><td>' + household.category + '</td>'+
                   '</tr>' +
                '</table>');

            });

            $.getJSON('./data/'+simulation_id+'/appliances?householdId='+householdId, function(appliances)
            {
                $('#appliance_list').empty();
                $('#appliance_list').removeAttr('disabled');
                $('#appliance_list').change(function()
                {
                    onApplianceChange(householdId, $('#appliance_list').val());
                });

                $('#appliance_list').append('<option value="0">All Appliances</option>')

                var i;
                for (i = 0; i < appliances.length; i++)
                {
                    $('#appliance_list').append('<option value="' + appliances[i].id + '">' + appliances[i].type + '[' + appliances[i].id + ']</option>')
                }
            });
        }

        function populatePolicies()
        {
            $.getJSON('./data/'+simulation_id+'/households/policies', function(policies)
            {
                $('#policy_list').empty();
                $('#policy_list').removeAttr('disabled');
                $('#policy_list').change(function()
                {
                    $(".slider").html('');
                    $(".slider").mb_vSlider({
                        //default attributes of the mb.vSlider
                        template:"./"+simulation_id+"/households"
                        ,easing:"easeOutExpo"
                        ,slideTimer:1000
                        ,nextEl:".vSnext"
                        ,prevEl:".vSprev"
                        ,height:445
                        ,width:225
                        },{ //data passed in the ajax query string
                            elementsPerPage:20
                            ,actualPage:0
                            ,policy: $('#policy_list').val()
                        });

                });

                $('#policy_list').append('<option value="0">All Policies</option>')

                var i;
                for (i = 0; i < policies.length; i++)
                {
                  $('#policy_list').append('<option value="' + policies[i] + '">' + policies[i] + '</option>')
                }
            });
        }

        function populateCategories()
        {
            $.getJSON('./data/'+simulation_id+'/households/categories', function(categories)
            {
                $('#category_list').empty();
                $('#category_list').removeAttr('disabled');
                $('#category_list').change(function()
                {
                    $(".slider").html('');
                    $(".slider").mb_vSlider({
                    //default attributes of the mb.vSlider
                    template:"./"+simulation_id+"/households"
                    ,easing:"easeOutExpo"
                    ,slideTimer:1000
                    ,nextEl:".vSnext"
                    ,prevEl:".vSprev"
                    ,height:445
                    ,width:225
                    },{ //data passed in the ajax query string
                    elementsPerPage:20
                    ,actualPage:0
                    ,category: $('#category_list').val()
                    });
                });

                $('#category_list').append('<option value="0">All Categories</option>')

                var i;
                for (i = 0; i < categories.length; i++)
                {
                    $('#category_list').append('<option value="' + categories[i] + '">' + categories[i] + '</option>')
                }
            });
        }

        function updateGraphDataWithSimulation()
        {
            updateGraphData('./data/'+simulation_id);
            $('.result').removeClass('selected');
            $('#appliance_list').empty();
            $('#appliance_list').unbind('change');
            $('#appliance_list').append('<option value="0">All Appliances</option>')
            $('#appliance_list').attr('disabled', 'disabled');
        }
    </script>

    <script type="text/javascript">
        $(function(){
        $(".slider").mb_vSlider({
            //default attributes of the mb.vSlider
            template:"./"+simulation_id+"/households"
            ,totalElements: $households
            ,easing:"easeOutExpo"
            ,slideTimer:1000
            ,nextEl:".vSnext"
            ,prevEl:".vSprev"
            ,height:445
            ,width:225
            },{ //data passed in the ajax query string
            elementsPerPage:20
            ,actualPage:0
        })
        });
    </script>

</head>
<body>
<div id="content">
    #parse("masthead.html")

    <div id="breadCrumb" class="breadCrumb module" >
        <ul>
            <li><a href="../simulations/" title="Simulation List">Home</a></li>
            <li>$simulation.getName()</li>
        </ul>
    </div>

    <div id="simulation">
        <div id="siminfo">
            <h2>$simulation.getName() [$simulation.getId()]</h2><a class="delete" href="#" onclick="deleteSimulation($simulation.getId())" title="Delete Simulation Data"></a>
        </div>

    <div id="datacontainer">
        <div id="slider_container">
            <button id="fulldatabtn" onclick="updateGraphDataWithSimulation();">Show Full Aggregate Data</button>
            <div id="policies" class="sidedropdown">
                <select id="policy_list">
                    <option name="all">All Policies</option>
                </select>
            </div>

            <div id="categories" class="sidedropdown">
                <select id="category_list">
                    <option name="all">All Categories</option>
                </select>
            </div>

            <button class="vSprev" onclick="$('.slider').vsPrevPage()">Prev</button>
            <button class="vSnext" onclick="$('.slider').vsNextPage()">Next</button>
            <div class="slider"></div>
            <div id="appliances" class="sidedropdown">
                <select id="appliance_list">
                    <option name="all">All Appliances</option>
                </select>
            </div>
        </div>
        <div id="graphcontainer">
            <div id="data">
                <table id="simdetail" cellpadding="2" cellspacing="1">
                    <tr>
                        <th>Households:</th>
                        <td>$households</td>
                        <th>Appliances:</th>
                        <td>$appliances</td>
                        #if ($simulation.getSimulatedEndTime())
                        <th>Simulated Time:</th>
                        <td>$simulation.getSimulatedStartTime() to $simulation.getSimulatedEndTime()</td>
                        <th>Actual Time:</th>
                        <td>$simulation.getActualStartTime() to $simulation.getActualEndTime()</td>
                        #else
                        <th>Simulation still running (or terminated prematurely)</th>
                        #end
                    </tr>
                </table>
            </div>
            <div id="graphdiv"></div>
        </div>
    </div>

    <script type="text/javascript">
        data_temp = [[0,0,0,0]];
        graph = new Dygraph(document.getElementById("graphdiv"),
            data_temp,
            {
                fillGraph: true,
                labelsKMB: true,
                title: 'Simulated Load',
                ylabel: 'Watts',
                labels: ['Date/Time', 'Generated', 'Consumed', 'Net Load'],
                labelsSeparateLines: true,
                legend: 'always',
                labelsDivStyles: { 'textAlign': 'right' },
                labelsDivWidth: 150,
                showRangeSelector: true,
                strokeWidth: 1,
                'Net Load': { strokeWidth: 1 },
                colors: ['#408000', '#400080', '#B04000']
            }
        );
    </script>

    <script>
        $(document).ready(function()
        {
            updateGraphDataWithSimulation();
            populatePolicies();
            populateCategories();
        });
    </script>
    </div>
</div>
</body>
</html>