<html>
<head>
    <title>Powersim Analyser - Simulations</title>
    <link rel="stylesheet" href="../css/powersim.css" type="text/css">
    #parse("includes.html")

    <script type="text/javascript" language="JavaScript1.5">
        function deleteSimulation(simulation_id)
        {
            if (confirm('Are you sure you want to delete simulation ' + simulation_id + '?'))
            {
                $.ajax(
                {
                    url: './data/'+simulation_id,
                    type: 'delete',
                    dataType: 'text',
                    success: function(message)
                    {
                        $('#messagearea').html('<div id="message">' + message + '</div>');
                        window.location.replace('./?message='+message);
                    },
                    error: function (xhr, ajaxOptions, thrownError)
                    {
                        $('#messagearea').html('<div id="error_message">' + xhr.responseText + '</div>');
                    }
               });
            }
        };

    </script>
</head>
<body>
<div id="content">
    #parse("masthead.html")

    <div id="breadCrumb" class="breadCrumb module" >
        <ul>
            <li><a href="#" title="Simulation List">Home</a></li>
        </ul>
    </div>

    <div id="simulations">
        <h2>Simulation Data Available</h2>

        <table id="simulationlist" border="0" cellpadding="2" cellspacing="0">
            <tr><th>ID</th><th>Simulation Name</th><th>Actual Start Date/Time</th><th>Actual End Date/Time</th><th>Simulated Start Date/Time</th><th>Simulated End Date/Time</th><th>Actions</th></tr>
        #foreach( $simulation in $simulations )

            <tr>
                <td>$simulation.getId()</td>
                <td><a href="./$simulation.getId()">$simulation.getName()</a></td>

                <td>$simulation.getActualStartTime()</td>
                <td>
                  #if ($simulation.getActualEndTime())
                    $simulation.getActualEndTime()
                  #else
                    <i>Still Running</i>
                  #end
                </td>

                <td>$simulation.getSimulatedStartTime()</td>
                <td>
                    #if ($simulation.getSimulatedEndTime())
                      $simulation.getSimulatedEndTime()
                    #else
                    <i>Still Running</i>
                    #end
                </td>

                <td><a class="delete" href="#" onclick="deleteSimulation($simulation.getId())" title="Delete Simulation Data"></a></td>
            </tr>
        #end
        </table>
    </div>
</div>
</body>
<html>