html
{
    margin: 0px;
    padding: 0px;
}

body
{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 12px;
   margin: 0px;
   padding: 0px;
}

a
{
    font-size: 13px;
    font-weight: bold;
}

li
{
    list-style: none;
}

td, th
{
    font-size: 12px;
    text-align: left;
}

table
{
    border: 1px solid #111111;

}

div#data
{
    margin-top: 15px;
}

div#graphdiv
{
   width:100%;
   height:500px;
}

div#masthead
{
    background: #0F3360 url("images/glossy-3d-blue-power-icon.png") no-repeat left;
    margin: 0px;
    padding: 15px 15px 15px 70px;
    color: #EEFFFF;
}

div#masthead h1
{
    padding: 0px;
    margin: 0px;
}

h2
{
    color: #0F5580;
    padding: 0px;
    margin: 0px;
}

div#messagearea
{
   background-color: #dddddd;
   margin: 0px;
   font-size: 14px;
   overflow: auto;
}

#message
{
   font-weight: normal;
   font-style: italic;
   color: #0F3360;
   padding: 5px;
}

#error_message
{
   padding: 5px;
   font-weight: bold;
   font-style: italic;
   color: #B03030;
}

div#simulation
{
    padding: 10px;
}

div#simulations
{
    padding: 10px;
}

.dygraph-legend
{
    margin-top: -50px;
    text-align: right;
    width: 50px;
}

table#simulationlist
{
    border: 0px;
    font-size: 12px;
    font-weight: normal;
    color: #222222;
    width: 100%;
    margin-top: 10px;
}

table#simulationlist a
{
    font-weight: normal;
    text-decoration: none;
    color: #222222;
}

table#simulationlist th
{
    padding: 5px;
    background-color: #666666;
    color: #EEFFFF;
}

table#simulationlist td
{
    padding: 5px;
}

table#simulationlist td a
{
    font-weight: bold;
}

table#simulationlist tr:nth-child(even)
{
    background-color: #dddddd;
}

table#simulationlist tr:hover
{
    background-color: #6FB5F0;
}
