html
{
    margin: 0px;
    padding: 0px;
}

body
{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 12px;
   margin: 0px;
   padding: 0px;
}

a
{
    font-size: 13px;
    font-weight: bold;
}

li
{
    list-style: none;
}

td, th
{
    font-size: 12px;
    text-align: left;
}


table#simdetail
{
    border: 1px solid #111111;
}

div#data
{
    margin-left: 55px;
    margin-bottom: 10px;
}

div#graphdiv
{
   height:530px;
   width: 100%;
}

div#datacontainer
{
    margin-top: 5px;
    overflow: auto;
    width: 100%;
}

#slider_container
{
  float: left;
  display: inline-block;
  margin-top: 0px;
  width: 220px;
}

#fulldatabtn
{
    text-align: center;
    width: 100%;
}

.vSprev, .vSnext
{
    width: 49%;
}

#appliance_list
{
    width: 100%;
}

div#graphcontainer
{
   margin-left: 220px;
   display: block;
}


div#masthead
{
    background: #0F3360 url("images/glossy-3d-blue-power-icon.png") no-repeat left;
    margin: 0px;
    padding: 15px 15px 15px 70px;
    color: #EEFFFF;
}

a.delete
{
   width: 32px;
   height: 32px;
   background: url("images/trash-icon.png") no-repeat left;
   margin: 0px 10px 0px 10px;
   padding: 0px;
   display: inline-block;
   overflow: auto;
   vertical-align: middle;
}

a.home
{
   display: block;
}

div#masthead h1
{
    padding: 0px;
    margin: 0px;
}

h2
{
    color: #0F5580;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

div#messagearea
{
   background-color: #dddddd;
   margin: 0px;
   font-size: 14px;
   overflow: auto;
}

#message
{
   font-weight: normal;
   font-style: italic;
   color: #0F3360;
   padding: 5px;
}

#error_message
{
   padding: 5px;
   font-weight: bold;
   font-style: italic;
   color: #B03030;
}

div#simulation
{
    padding: 10px;
}

div#simulations
{
    padding: 10px;
}

.dygraph-legend
{
    margin-top: 0px;
    text-align: right;
    width: 50px;
    border: thin solid #AAAAAA;
}

table#simulationlist
{
    border: 0px;
    font-size: 12px;
    font-weight: normal;
    color: #222222;
    width: 100%;
    margin-top: 10px;
}

table#simulationlist a
{
    font-weight: normal;
    text-decoration: none;
    color: #222222;
}

table#simulationlist th
{
    padding: 5px;
    background-color: #666666;
    color: #EEFFFF;
}

table#simulationlist td
{
    padding: 5px;
}

table#simulationlist td a
{
    font-weight: bold;
}

table#simulationlist tr:nth-child(even)
{
    background-color: #dddddd;
}

table#simulationlist tr:hover
{
    background-color: #6FB5F0;
}

.slider
{
  -moz-box-shadow:inset 0px 0px 10px #555;
  -webkit-box-shadow:inset 0px 0px 10px #555;
  background: #eeeeee;
}

.slider p
{
  border-top:1px solid #666;
  /*border-bottom:1px solid gray;*/
  margin:0;
  min-height:30px;
}

.slider p a
{
  padding:4px 10px 4px 10px;
  display:block;
  min-height:30px;
  color:#222222;
  text-decoration:none;
}

.slider p:hover a
{
  background: #cccccc;
  -moz-box-shadow:inset 0px 0px 10px #555;
  -webkit-box-shadow:inset 0px 0px 10px #555;
}

.slider p.selected
{

}


.slider p.selected a
{
  background: #abcabc;

  color: #333;
  font-weight:bold;

  -moz-box-shadow:inset 0px 0px 10px #555;
  -webkit-box-shadow:inset 0px 0px 10px #555;
}
